In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dataset=pd.read_csv("D:\DATA SCIENCE\my projects\Heart failure prediction\heart_failure_clinical_records_dataset.csv")

In [5]:
dataset

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [16]:
dataset.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [17]:
dataset.shape

(299, 13)

In [9]:
dataset.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

# Data pre processing

In [27]:
#dividing the data into independent and dependent variables
x=dataset.iloc[:,1:13].values
y=dataset.iloc[:,12:13].values

In [34]:
#splitting the data into test and train set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [42]:
#scaling the data
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()

In [43]:
x_train=sc.fit_transform(x_train)

In [45]:
x_test=sc.transform(x_test)

# Applying KNN algorithm

In [51]:
from sklearn.neighbors import KNeighborsClassifier
Classifier1=KNeighborsClassifier(n_neighbors=3)
Classifier1.fit(x_train,y_train)

C:\Users\91991\.conda\envs\tf\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(n_neighbors=3)

In [58]:
#predicting the model
y_pred1=Classifier1.predict(x_test)

In [62]:
#accuracyscore
from sklearn.metrics import accuracy_score
print("Accuracy score KNN:",accuracy_score(y_test,y_pred1)*100,"%")

Accuracy score KNN: 100.0 %

# Applying Naive Bayes Classifier

In [63]:
from sklearn.naive_bayes import GaussianNB
Classifier2=GaussianNB()
Classifier2.fit(x_train,y_train)

C:\Users\91991\.conda\envs\tf\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [64]:
#predicting the model
y_pred2=Classifier2.predict(x_test)

In [65]:
#accuracyscore
from sklearn.metrics import accuracy_score
print("Accuracy score Naive bayes:",accuracy_score(y_test,y_pred2)*100,"%")

Accuracy score Naive bayes: 100.0 %